[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
music21 = "*"
click = "*"
anthropic = "*"
python-dotenv = "*"
numpy = ">=1.26.4"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.13"
